<!-- //index.html -->
<html>  
<head>  
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.slim.min.js" integrity="sha512-sNylduh9fqpYUK5OYXWcBleGzbZInWj8yCJAU57r1dpSK9tP2ghf/SRYCMj+KsslFkCOt3TvJrX2AV/Gc3wOqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>  
<body class="bg-info">
    <div class="d-flex justify-content-center align-items-center h-100">
        <form method="post" action="/login" class="alert alert-warning w-25" style="padding:40px">
            <h3 class="text-decoration-underline mb-3">Login</h3>
            <div class="mb-1">
                <label for="username" class="form-label">Username:&nbsp;</label>
                <input type="text" class="form-control" id="username" name="username" value="ccmak" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:&nbsp;</label>
                <input type="password" class="form-control" id="password" name="password" value="ccmak" />
            </div>
            {% if msg != None %}
                <div class="alert alert-danger">
                    {{ msg }}
                </div>
            {% endif %}
            <div class="pb-2">
                <span>User:&nbsp;&nbsp;</span>
                <a target="_blank" href="http://192.168.68.130:8080/realms/flask-sso-auth-service/account">Portal</a>
            </div>
            <div>
                <span>Admin:&nbsp;&nbsp;</span>
                <a target="_blank" href="http://192.168.68.130:8080/">Portal</a>
                <span>&nbsp;&nbsp;</span>
                <a target="_blank" href="http://192.168.68.130:8090/">PhpMyAdmin</a>
            </div>
            <div class="d-flex justify-content-end mt-4">
                <button class="btn btn-success">login</button>
            </div>
        </form>
    </div>
</body>